<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" th:href="@{/css/aboutus.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<div class="container">
    <nav>
        <ul>
            <li><a href="/success">Home</a></li>
        </ul>
    </nav>
</div>
<h2>About Us</h2>

<div class="container">
    <div class="about-us-content">
        <p class="about-us-text">A Pokemon Web App representa o resultado de um projeto concebido no contexto da disciplina de Bases de Dados II, integrada no programa académico do curso TeSP - Tecnologias e Programação de Sistemas de Informação, ministrado pela Escola Superior de Gestão e Tecnologia do Instituto Politécnico de Santarém, em Vila Franca de Xira. Este projeto tem como base um conjunto de dados fornecido pela dedicada Professora Vânia Besouro, que leciona a referida disciplina.</p>
    </div>

    <h2>Team Members</h2>

    <div class="team-members">
        <div class="team-member">
            <h3 class="team-member-name">Allen Andrade</h3>
            <p class="team-member-matricula">220000056</p>
            <p class="team-member-description">Futuro ex-advogado e aspirante a criador de realidades virtuais</p>
        </div>

        <div class="team-member">
            <h3 class="team-member-name">Bruno Marques</h3>
            <p class="team-member-matricula">220001110</p>
            <p class="team-member-description">[Team Member Description]</p>
        </div>

        <div class="team-member">
            <h3 class="team-member-name">Mário Reis</h3>
            <p class="team-member-matricula">220000985</p>
            <p class="team-member-description">Trabalhador, estudante e pai de família</p>
        </div>

        <div class="team-member">
            <h3 class="team-member-name">Rafael Estevam</h3>
            <p class="team-member-matricula">220000906</p>
            <p class="team-member-description">Dedicado estudante e futuro guru da programação</p>
        </div>
    </div>
</div>
</body>
</html>
