<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Pokemon</title>
</head>
<body>
<h1>Add Pokemon</h1>
<form method="post" action="/addPokemon">
    <label for="pokemonName">Pokemon Name:</label>
    <input type="text" name="pokemonName" required />
    <br/>

    <label for="pokemonTotal">Total:</label>
    <input type="number" name="pokemonTotal" required />
    <br/>

    <label for="pokemonHp">HP:</label>
    <input type="number" name="pokemonHp" required />
    <br/>

    <label for="pokemonAttack">Attack:</label>
    <input type="number" name="pokemonAttack" required />
    <br/>

    <label for="pokemonDefense">Defense:</label>
    <input type="number" name="pokemonDefense" required />
    <br/>

    <label for="pokemonSp_atk">Special Attack:</label>
    <input type="number" name="pokemonSp_atk" required />
    <br/>

    <label for="pokemonSp_def">Special Defense:</label>
    <input type="number" name="pokemonSp_def" required />
    <br/>

    <label for="pokemonSpeed">Speed:</label>
    <input type="number" name="pokemonSpeed" required />
    <br/>

    <label for="pokemonGeneration">Generation:</label>
    <input type="number" name="pokemonGeneration" required />
    <br/>

    <label for="pokemonLegendary">Legendary:</label>
    <input type="text" name="pokemonLegendary" required />
    <br/>

    <!-- Adicione os campos restantes conforme necessário -->

    <input type="submit" value="Add Pokemon" />
</form>
</body>
</html>