<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Pokemon</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>
<body>
<h2>Edit Pokemon</h2>
<form method="post" action="/edit" class="editForm">
    <input type="hidden" name="pokemonId" th:field="*{editedPokemon.pokemonId}" />

    <label for="pokemonName">Pokemon Name:</label>
    <input type="text" name="pokemonName" th:field="*{editedPokemon.pokemonName}" />
    <br/>

    <label for="pokemonTotal">Total:</label>
    <input type="number" name="pokemonTotal" th:field="*{editedPokemon.pokemonTotal}" />
    <br/>

    <label for="pokemonHp">HP:</label>
    <input type="number" name="pokemonHp" th:field="*{editedPokemon.pokemonHp}" />
    <br/>

    <label for="pokemonAttack">Attack:</label>
    <input id="pokemonAttack" type="number" name="pokemonAttack" th:field="*{editedPokemon.pokemonAttack}" />
    <br/>

    <label for="pokemonDefense">Defense:</label>
    <input type="number" name="pokemonDefense" th:field="*{editedPokemon.pokemonDefense}" />
    <br/>

    <label for="pokemonSp_atk">Special Attack:</label>
    <input type="number" name="pokemonSp_atk" th:field="*{editedPokemon.pokemonSp_atk}" />
    <br/>

    <label for="pokemonSp_def">Special Defense:</label>
    <input type="number" name="pokemonSp_def" th:field="*{editedPokemon.pokemonSp_def}" />
    <br/>

    <label for="pokemonSpeed">Speed:</label>
    <input type="number" name="pokemonSpeed" th:field="*{editedPokemon.pokemonSpeed}" />
    <br/>

    <label for="pokemonGeneration">Generation:</label>
    <input type="number" name="pokemonGeneration" th:field="*{editedPokemon.pokemonGeneration}" />
    <br/>

    <label for="pokemonLegendary">Legendary:</label>
    <input type="text" name="pokemonLegendary" th:field="*{editedPokemon.pokemonLegendary}" />
    <br/>

    <label for="editedPokemonType1">Type 1:</label>
    <input id="editedPokemonType1" type="text" name="editedPokemonType1" th:value="${editedPokemonType1}"/>
    <br/>

    <label for="editedPokemonType2">Type 2:</label>
    <input id="editedPokemonType2" type="text" name="editedPokemonType2" th:value="${editedPokemonType2}" />
    <br/>

    <div class="button-container">
        <button type="submit">Save</button>
        <button type="button" onclick="goBack()">Cancel</button>
    </div>

</form>
<script>
    function goBack() {
        window.history.back();
    }
</script>
</body>
</html>