<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokémon List</title>
    <link rel="stylesheet" href="pokemonlist.css">
</head>
<body>
<h2>Pokémon List</h2>

<p th:if="${deleteSuccess}" class="alert alert-success">Pokemon deleted successfully</p>
<p th:if="${deleteError}" class="alert alert-danger">Error deleting pokemon</p>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Total</th>
        <th>Hp</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Sp. Atk</th>
        <th>Sp. Def</th>
        <th>Speed</th>
        <th>Generation</th>
        <th>Legendary</th>
        <th>Type 1</th>
        <th>Type 2</th>
        <a th:href="@{/addPokemon}"> <button type="button">Add Pokemon</button> </a>
    </tr>
    </thead>
    <tbody>
    <tr th:each="pokemon : ${pokemons}">
        <td th:text="${pokemon.pokemonId}"></td>
        <td th:text="${pokemon.pokemonName}"></td>
        <td th:text="${pokemon.pokemonTotal}"></td>
        <td th:text="${pokemon.pokemonHp}"></td>
        <td th:text="${pokemon.pokemonAttack}"></td>
        <td th:text="${pokemon.pokemonDefense}"></td>
        <td th:text="${pokemon.pokemonSp_atk}"></td>
        <td th:text="${pokemon.pokemonSp_def}"></td>
        <td th:text="${pokemon.pokemonSpeed}"></td>
        <td th:text="${pokemon.pokemonGeneration}"></td>
        <td th:text="${pokemon.pokemonLegendary}"></td>
        <td th:if="${pokemon.types != null and pokemon.types.size() > 0}" th:text="${pokemon.types[0].pokemonTypeFK.typeDesc}"></td>
        <td th:if="${pokemon.types != null and pokemon.types.size() > 1}" th:text="${pokemon.types[1].pokemonTypeFK.typeDesc}"></td>
        <td th:unless="${pokemon.types != null and pokemon.types.size() > 1}">No second type</td>

        <td>
            <a th:href="@{/edit/{id}(id=${pokemon.pokemonId})}"> <button type="button">Edit</button> </a>
            <form th:method="post" th:action="@{/delete}" th:object="${pokemon}">
                <input type="hidden" name="pokemonId" th:value="${pokemon.pokemonId}" />
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>