<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Success</title>
  <link rel="stylesheet" href="success.css">
</head>
<body>
<h1 th:text="${message}">Welcome to the app!</h1>
<header>
  <nav>
    <ul>
      <li><a href="/aboutme">About Me</a></li>
      <li><a href="/pokemonlist">Search Pokémon List</a></li>
      <li><a href="/pokemonedit">Edit Pokémon</a></li>
      <li><a href="/pokemondelete">Delete Pokémon</a></li>
    </ul>
  </nav>
</header>
</body>
</html>